<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kickball!</title>
    <link rel="stylesheet" href="/kickball.css" />
  </head>

  <body>
    <h1><%=@headline%></h1>
      <table>
        <thead>
          <tr>
            <th><%=@headline2%></th>
            <th><%=@headline3%></th>
            <th><%=@headline4%></th>
        </tr>
        </thead>

        <tbody>
          <tr>

            <td>
              <%@first_name_array.each do |name|%>
              <li><%= name %></li>
              <%end%>
            </td>


            <td>
              <%@last_name_array.each do |name|%>
              <li><%= name%></li>
              <%end%>
            </td>

            <td>
              <%@team_array.each do |name|%>
              <li><a href="/team/<%=name%>"> <%= name%></li>
              <%end%>
            </td>

          </tr>
        </tbody>
      </table>

      <h3><a href="/mainpage"> Return to Home Page</h3>
